@import "../../abstract/variables.scss";

.containerNav {
  width: 100%;
  background-color: transparent;
  color: #ffffff;
  position: fixed;
  top: 0;
  height: 100px;
  z-index: 1;
  @media (max-width: 768px) {
    display: none !important;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 35px 50px 0 50px;
  font-family: $font-family-primary;
}

.logo {
  font-size: 1.85rem;
  @media (max-width: 1350px) {
    font-size: 1.5rem;
  }
  @media (max-width: 1050px) {
    font-size: 1.2rem;
  }
  @media (max-width: 900px) {
    font-size: 1rem !important;
  }
}

.navLinks {
  display: flex;
  list-style: none;
  letter-spacing: 0.08rem;
  margin: 0;
  padding: 0;
  gap: 50px;
  font-size: 1.5rem;
  position: relative;
  transform: translateX(-12%);
  @media (max-width: 1350px) {
    gap: 25px;
  }
  @media (max-width: 900px) {
    transform: translateX(-11%);
    gap: 20px;
  }
}

.navLinks li {
  margin-left: 20px;
  cursor: pointer;
  @media (max-width: 900px) {
    margin-left: 0 !important;
  }
}

.navLinks a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s;
  @media (max-width: 1350px) {
    font-size: 1.2rem;
  }
  @media (max-width: 1050px) {
    font-size: 1rem;
  }
}

.navLinks a:hover {
  color: #cccccc;
}

.socialIcons {
  display: flex;
  align-items: center;
}

.socialIcons a {
  margin-left: 15px;
  color: #ffffff;
  font-size: 1.2em;
  transition: all 0.3s ease-in-out;
  :hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
  img {
    width: 45px;
    height: 45px;
    @media (max-width: 1350px) {
      width: 35px;
      height: 35px;
    }
    @media (max-width: 1050px) {
      width: 30px !important;
      height: 30px;
    }
    @media (max-width: 900px) {
      width: 25px !important;
      height: 25px;
    }
  }
}

.socialIcons a:hover {
  color: #cccccc;
}
