@use "../../abstract/variables.scss" as *;

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 9999;
  pointer-events: none;
  display: none;
  
  // Radial gradient qui se ferme/ouvre, centré dynamiquement
  background: radial-gradient(
    circle at var(--center-x, 50vw) var(--center-y, 50vh),
    transparent var(--gradient-size, 100%),
    #000000 var(--gradient-size, 100%)
  );
  
  // Initialiser les variables
  --gradient-size: 100%;
  --center-x: 50vw;
  --center-y: 50vh;

  @media (min-width: 900px) {
    position: fixed;
    height: 100vh;
  }
}
