@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap");

// Colors
$color-text-body: #5f6b77;
$color-text-secondary: #a9b0b8;
$color-text-headline: #2f343b;
$color-text-white: #fff;
$color-background-light: #dde3e9;
$color-background-dark: #1b1f23;

// Fonts
$font-family-primary: "Space Grotesk", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, sans-serif;
$font-family-secondary: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, sans-serif;
$font-family-text: "IBM plex Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, sans-serif;
$font-family-accentuated-text: "Alegreya Sans Sc", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

$font-size-title-desktop: 101px;
$font-size-h1-desktop: 72px;
$font-size-h2-desktop: 50px;
$font-size-body-desktop: 36px;

$font-size-title-tab: 36px;
$font-size-h1-tab: 29px;
$font-size-h2-tab: 25px;
$font-size-body-tab: 22px;

$font-size-base: 14px;
$font-size-title-mobile: 29px;
$font-size-h1-mobile: 58px;
$font-size-h2-mobile: 22px;
$font-size-body-mobile: 16px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-base: 1;
$line-height-heading: 1.2;
