a {
  text-decoration: inherit;
}
body {
  background: #050505;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
h2 {
  font-weight: inherit;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
html {
  -ms-overflow-style: none;
}
html,
body {
  overscroll-behavior-y: contain;
  touch-action: pan-y;
}
