a {
  text-decoration: inherit;
}
body {
  background: #050505;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  font-weight: inherit;
} /* Pour Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Pour Firefox */
html {
  scrollbar-width: none; /* masque la scrollbar */
}

/* Pour IE et anciennes versions Edge */
html {
  -ms-overflow-style: none;
}

/* prevent refresh on mobile */

html,
body {
  overscroll-behavior-y: auto;
}
.containerHero {
  overscroll-behavior-y: contain;
}
