/*  Projects component */

.containerProjects {
  height: 100vh;
  width: 100%;
  background: #000;
}

/*  Projects Category component */

.containerProjectCategory {
}

/*  Single Project component */

.containerSingleProject {
}

/*  Slider Projects component */

.containerSlider {
}
